<div class="bg-light lter b-b wrapper-sm">
  <ol class="breadcrumb">
    <li>当前位置：</li>
    <li>容器: {{ container.Name }}</li>
  </ol>
</div>
<div class="app-content-body page-content-area" >
  <div class="wrapper-md">
    <div ng-if="!container.edit">
            <h4>容器: {{ container.Name }}
                <button class="btn btn-primary"  ng-click="container.edit = true;">重命名</button>
            </h4>
    </div>
    <div ng-if="container.edit">
        <h4>
            容器:
            <input type="text" ng-model="container.newContainerName">
            <button class="btn btn-success" ng-click="renameContainer()">保存 </button>
            <button class="btn btn-danger" ng-click="container.edit = false;">&times;</button>
        </h4>
    </div>
     <div class="row">
         <div class="col-xs-3">
           
                        <ul class="list-group" ng-show="!container.State.Running">
                            <li class="list-group-item">
                                <button class="btn btn-success"
                                        ng-click="start()"
                                        >启动
                                </button>
                            </li>
                            <li class="list-group-item"  ng-show="container.State.Running && !container.State.Paused">
                                <button class="btn btn-warning"
                                        ng-click="stop()"
                                       >停止
                                </button>
                            </li>
                            <li class="list-group-item" ng-show="container.State.Running && !container.State.Paused">
                                <button class="btn btn-danger"
                                        ng-click="kill()"
                                        >Kill
                                </button>
                            </li>
                            <li class="list-group-item" ng-show="container.State.Running && !container.State.Paused">
                                <button class="btn btn-info"
                                        ng-click="pause()"
                                        >暂停
                                </button>
                            </li>
                            <li class="list-group-item" ng-show="container.State.Running && container.State.Paused">
                                <button class="btn btn-success"
                                        ng-click="unpause()"
                                        >取消暂停
                                </button>
                            </li>
                            <li class="list-group-item" ng-show="container.State.Running && !container.State.Stopped">
                                <button class="btn btn-success"
                                        ng-click="restart()"
                                        >重新启动
                                </button>
                            </li>
                            <li class="list-group-item">
                                <button class="btn btn-primary"
                                        ng-click="commit()">提交
                                </button>
                            </li>
                           
                        </ul>
                
            </div>
        <div class="col-xs-9">
            <div class="bg-white-only b b-blue">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>创建:</td>
                        <td>{{ container.Created | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                    <tr>
                        <td>路径:</td>
                        <td>{{ container.Path }}</td>
                    </tr>
                    <tr>
                        <td>Args:</td>
                        <td>
                            <pre>{{ container.Args.join(' ') || 'None' }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>暴露端口:</td>
                        <td>
                            <ul>
                                <li ng-repeat="(k, v) in container.Config.ExposedPorts">{{ k }}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>环境:</td>
                        <td>
                            <div ng-show="!editEnv">
                                <button class="btn btn-default btn-xs pull-right" ng-click="editEnv = true"><i class="glyphicon glyphicon-pencil"></i></button>
                                <ul>
                                    <li ng-repeat="k in container.Config.Env">{{ k }}</li>
                                </ul>
                            </div>
                            <div class="form-group" ng-show="editEnv">
                                <label>Env:</label>

                                <div ng-repeat="envar in newCfg.Env">
                                    <div class="form-group form-inline">
                                        <div class="form-group">
                                            <label class="sr-only">变量名:</label>
                                            <input type="text" ng-model="envar.name" class="form-control input-sm"
                                                   placeholder="NAME"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only">变量值:</label>
                                            <input type="text" ng-model="envar.value" class="form-control input-sm" style="width: 400px"
                                                   placeholder="value"/>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-danger btn-sm input-sm form-control"
                                                    ng-click="rmEntry(newCfg.Env, envar)"><i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-sm"
                                        ng-click="addEntry(newCfg.Env, {name: '', value: ''})"><i class="glyphicon glyphicon-plus"></i> 添加
                                </button>
                                <button class="btn btn-primary btn-sm"
                                        ng-click="restartEnv()"
                                        ng-show="!container.State.Restarting">提交并重启</button>
                            </div>


                        </td>
                    </tr>
                    <tr>
                        <td>标签:</td>
                        <td>
                            <table role="table" class="table">
                                <tr>
                                    <th>键</th>
                                    <th>值</th>
                                </tr>
                                <tr ng-repeat="(k, v) in container.Config.Labels">
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>发布所有:</td>
                        <td>{{ container.HostConfig.PublishAllPorts }}</td>
                    </tr>
                    <tr>
                        <td>端口:</td>
                        <td>
                            <div ng-show="!editPorts">
                                <button class="btn btn-default btn-xs pull-right" ng-click="editPorts = true"><i class="glyphicon glyphicon-pencil"></i></button>
                                <ul>
                                <li ng-repeat="(containerport, hostports) in container.NetworkSettings.Ports">
                                    {{ containerport }} =>
                                    <span class="label label-default" style="margin-right: 5px;" ng-repeat="(k,v) in hostports">{{ v.HostIp }}:{{ v.HostPort }}</span>
                                </li>
                            </ul>
                            </div>
                            <div ng-show="editPorts">
                                <div ng-repeat="(containerport, hostports) in newCfg.Ports" style="margin-bottom: 5px;">
                                    <label>{{ containerport }}</label>
                                    <div style="margin-left: 20px;">
                                        <div ng-repeat="(k,v) in hostports" class="form-group form-inline">
                                            <div class="form-group">
                                                <input type="text" ng-model="v.HostIp" class="form-control input-sm" placeholder="IP address, ex. 0.0.0.0" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="v.HostPort" class="form-control input-sm"
                                                       placeholder="Port" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-danger btn-sm input-sm form-control"
                                                        ng-click="rmEntry(hostports, v)"><i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm"
                                            ng-click="addEntry(hostports, {HostIp: '0.0.0.0', HostPort: ''})"><i class="glyphicon glyphicon-plus"></i> Add
                                    </button>
                                </div>
                                <button class="btn btn-primary btn-sm"
                                        ng-click="restartEnv()"
                                        ng-show="!container.State.Restarting">Commit and restart</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>主机名:</td>
                        <td>{{ container.Config.Hostname }}</td>
                    </tr>
                    <tr>
                        <td>IP地址:</td>
                        <td>{{ container.NetworkSettings.IPAddress }}</td>
                    </tr>
                    <tr>
                        <td>指令键:</td>
                        <td>{{ container.Config.Cmd }}</td>
                    </tr>
                    <tr>
                        <td>入口:</td>
                        <td>
                            <pre>{{ container.Config.Entrypoint.join(' ') }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>绑定:</td>
                        <td>
                            <div ng-show="!editBinds">
                                <button class="btn btn-default btn-xs pull-right" ng-click="editBinds = true"><i class="glyphicon glyphicon-pencil"></i></button>

                                <ul>
                                    <li ng-repeat="b in container.HostConfig.Binds">{{ b }}</li>
                                </ul>
                            </div>
                            <div ng-show="editBinds">
                                <div ng-repeat="(vol, b) in newCfg.Binds" class="form-group form-inline">
                                    <div class="form-group">
                                        <input type="text" ng-model="b.HostPath" class="form-control input-sm"
                                               placeholder="Host path or volume name" style="width: 250px;" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" ng-model="b.ContPath" ng-readonly="b.DefaultBind" class="form-control input-sm" placeholder="Container path" />
                                    </div>
                                    <div class="form-group">
                                        <label><input type="checkbox" ng-model="b.ReadOnly" /> read only</label>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-sm input-sm form-control"
                                                ng-click="rmEntry(newCfg.Binds, b)"><i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-sm"
                                        ng-click="addEntry(newCfg.Binds, { ContPath: '', HostPath: '', ReadOnly: false, DefaultBind: false })"><i class="glyphicon glyphicon-plus"></i> Add
                                </button>
                                <button class="btn btn-primary btn-sm"
                                        ng-click="restartEnv()"
                                        ng-show="!container.State.Restarting">提交并重启</button>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>容量:</td>
                        <td>{{ container.Volumes }}</td>
                    </tr>

                    <tr>
                        <td>初始路径:</td>
                        <td>{{ container.SysInitPath }}</td>
                    </tr>
                    <tr>
                        <td>镜像:</td>
                        <td><a href="#/images/{{ container.Image }}/">{{ container.Image }}</a></td>
                    </tr>
                    <tr>
                        <td>状态:</td>
                        <td>
                            <accordion close-others="true">
                                <accordion-group heading="{{ container.State|getstatetext }}">
                                    <ul>
                                        <li ng-repeat="(key, val) in container.State">{{key}} : {{ val }}</li>
                                    </ul>
                                </accordion-group>
                            </accordion>
                        </td>
                    </tr>
                    <tr>
                        <td>日志:</td>
                        <td><a href="#/containers/{{ container.Id }}/logs">stdout/stderr</a></td>
                    </tr>
                    <tr>
                        <td>统计数据:</td>
                        <td><a href="#/containers/{{ container.Id }}/stats">stats</a></td>
                    </tr>
                    <tr>
                        <td>Top:</td>
                        <td><a href="#/containers/{{ container.Id }}/top">Top</a></td>
                    </tr>
                    </tbody>
                </table>

                <div class="row-fluid">
                    <div class="span1">
                        Changes:
                    </div>
                    <div class="span5">
                        <i class="icon-refresh" style="width:32px;height:32px;" ng-click="getChanges()"></i>
                    </div>
                </div>

                <div class="well well-large">
                    <ul>
                        <li ng-repeat="change in changes | filter:hasContent">
                            <strong>{{ change.Path }}</strong> {{ change.Kind }}
                        </li>
                    </ul>
                </div>

                <hr/>

                <div class="btn-remove wrapper">
                    <button class="btn btn-large btn-block btn-primary btn-danger" ng-click="remove()">移除容器</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
