
<header class="app-header navbar" id="header" role="menu">
        <div class="navbar-header bg-dark box-shadow">
          
          <a class="navbar-brand text-lt" href="#/">
            <span class="logo"></span>
            <span class="hidden-folded m-l-xs" >Winhong Docker</span></a>
        </div>
        <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
           <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="navbar-btn">
                                <a class="btn btn-primary" ng-click="refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>刷新</a>
                            </div>
                        </li>
                    </ul>
          
        </div>
      </header>