<!--<div class="sidebar span4">
    <div ng-include="template" ng-controller="SideBarController"></div>
</div>-->
<div class="app-content-body page-content-area" >
        <div class="wrapper-md">
                    <!-- <div class="row">
                        <div class="col-xs-10" id="masthead" style="display:none">
                            <div class="jumbotron">
                                <h1>UI For Docker</h1>
                                <p class="lead">The UI for Docker container engine</p>
                                <a class="btn btn-large btn-success" href="http://docker.io">Learn more.</a>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-xs-11">
                            <div class="col-xs-6">
                                <div class="panel panel-default dragDiv" >
                                    <!-- 快捷入口 -->
                                    <div  class="panel-heading text-base">容量运行信息</div>
                                    <div class="panel-body">
                                        <ul>
                                            <li ng-repeat="container in containers|orderBy:predicate">
                                                <a href="#/containers/{{ container.Id }}/">{{ container|containername }}</a>
                                                <span class="label label-{{ container.Status|statusbadge }}">{{ container.Status }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                            </div>
                            <div class="col-xs-6 ">
                                <div class="panel panel-default dragDiv" >
                                    <!-- 快捷入口 -->
                                    <div  class="panel-heading text-base">平台状态</div>
                                    <div class="panel-body">
                                        <canvas id="containers-chart" class="pull-right">
                                            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
                                                    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                                        </canvas>
                                        <div id="chart-legend"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-11" id="stats">
                            <div class="col-xs-6" >
                                <div class="panel panel-default dragDiv" >
                                        <!-- 快捷入口 -->
                                    <div  class="panel-heading text-base">容器创建</div>
                                     <div class="panel-body">
                                        <canvas id="containers-started-chart" width="550">
                                            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
                                                    href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                                        </canvas>
                                     </div>
                                    </div>
                               
                            </div>
                            <div class="col-xs-6" id="stats">
                               <div class="panel panel-default dragDiv" >
                                        <!-- 快捷入口 -->
                                        <div  class="panel-heading text-base">镜像创建</div>
                                        <div class="panel-body">
                                            <canvas id="images-created-chart" width="550">
                                                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
                                                        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                                            </canvas>
                                        </div>
                                    </div>
                            </div>
                    </div>
        </div>
</div>