<div class="bg-light lter b-b wrapper-sm">
  <ol class="breadcrumb">
    <li>当前位置：</li>
    <li>首页</li>
    <li>事件</li>
  </ol>
</div>
<div class="app-content-body page-content-area" >
  <div class="wrapper-md">
        <div class="row">
            <div class="col-xs-12">
                <h4>事件</h4>

                <form class="form-inline">
                    <div class="form-group">
                        <label for="since">从:</label>
                        <input id="since" type="datetime-local" ng-model="model.since" class="form-control" step="any"/>
                    </div>
                    <div class="form-group">
                        <label for="until">到:</label>
                        <input id="until" type="datetime-local" ng-model="model.until" class="form-control" step="any"/>
                    </div>
                    <button ng-click="updateEvents()" class="btn btn-primary">更新</button>
                </form>
                <br>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>事件</th>
                        <th>从</th>
                        <th>ID</th>
                        <th>时间</th>
                    </tr>
                    <tr ng-repeat="event in dockerEvents">
                        <td ng-bind="event.status"/>
                        <td ng-bind="event.from"/>
                        <td ng-bind="event.id"/>
                        <td ng-bind="event.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
